body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* navbar menu css */

@media screen and (max-width: 991px) {
  .ui.menu.navbartop a.item:not(:first-child){ display:none; }
  .ui.menu.navbartop .right.menu a.item.icon { display:block !important; font-size:1.2rem;}
  .ui.segment { padding:0}
  .full-width-below-computer { width: 100% }
}

@media screen and (max-width: 768px) {
  .ui.vertical.divider:after, .ui.vertical.divider:before {
    height: 0;
  }
}


.tel-navbar {
  margin-left: 5px;
  font-size: 1.2rem;
  line-height: 1.0;
}

.ui.menu .right.menu a.item.icon {
  display:none;
}

.fixed-top {
  position: fixed !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.fixed-top.home a.item , .fixed-top.home  a.active.item , .fixed-top.home  .right.menu a.item {
  color:white!important;
}

.fixed-top.article {
  background-color: black !important;
}

.fixed-top.article a.item , .fixed-top.article  a.active.item , .fixed-top.article  .right.menu a.item .tel-navbar{
  color:white!important;
}

.fixed-top.home.scrolled {
  background-color: white !important;
  transition: background-color 200ms linear;
}

.fixed-top.home.scrolled .item , .fixed-top.home.scrolled  a.active.item , .fixed-top.home.scrolled  .right.menu a.item {
  color:black!important;
}



/* --- */

/* --- content */

.hero {
  background-image: url("https://unsplash.it/1500?random");
  background-size: cover;
  background-position: center;
  width: 500wh;
  height: 100vh;
  display: flex;
}

.center-content {
  width: 100%;
  flex-direction: column;
  align-items: center;
  margin: auto;
  text-align: center;
}
.center-content h3, .center-content h5 {
  color: white;
  line-height: 1;
}
.center-content h3 {
  text-transform: uppercase;
  font-size: 2em;
}
.center-content h5 {
  font-size: 1em;
  font-weight: normal;
  margin-top: 20px;
}

.flex-row {
  flex-direction: row;
  margin-top: 50px;
}

.language-choose {
  width: 100%;
  background: transparent !important;
  color:white !important;
}

.ui.dropdown.language-choose:not(.button)>.default.text {
  color:white;
}

.ui.selection.visible.dropdown.language-choose>.text:not(.default) {
  color:white;
}

.date {
  color:#848484;
  white-space:nowrap;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  width: 300px;
  overflow: hidden;
  border: 1px solid #ddd;
  z-index: 1;
  margin-top: 5px;
  padding: 15px 10px;
  border-radius: .28571429rem;
}

.show {display: block;}

.column-left-in-dropdown {
  width: 70px;
  background-color:white;
  height: 40px;
  border: 1px solid #ced4da;
}

.text-in-column-dropdown {
  display:flex;
  align-items: center;
  text-align: center;
  padding: 0.7rem 0.6rem 0.5rem 1.2rem;
}

.rounded-image-guide {
  max-width: 160px;
  max-height: 160px;
  border-radius: 50% !important;
}

/* ---*/

/* this is my css owlcarousel */

.owl-dots-newline .owl-dots {
  position:static !important;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next { position: absolute; top: 0; bottom: 0;}

.owl-nav .owl-prev {
  left: 50px;
}

.owl-nav .owl-next {
  right: 50px;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: transparent !important;
  color: #869791 !important;
  text-decoration: none; }

.owl-theme .owl-nav [class*='owl-'] {
  outline: none;
  font-size:1.875rem !important;
}

.owl-theme .owl-nav .disabled {
  opacity: 1 !important;
}


.owl-demo .item img{
  display: block;
  width: 100%;
  height: auto;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin-top: 10px; 
}

  /*/ -------------------- */

/* footer */

.border-top-container {
  border-top: 2px solid #646971;
}

/* icon property */

.property-icon {
  width: 160px;
  height: 160px;
  background-color: #ededed;
  border-radius: 50%;
  margin: 25px auto;
  text-align: center;
  padding-top: 30px;
}
